@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  --highlight: #f97316;

  --font-biorhyme: 'BioRhyme', serif;
  --font-chivo: 'Chivo', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat, Arial, sans-serif);
}

.font-biorhyme {
  font-family: var(--font-biorhyme);
}

.font-chivo {
  font-family: var(--font-chivo);
}

.font-montserrat {
  font-family: var(--font-montserrat);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
