@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  --highlight: #22C55E;

  --font-biorhyme: 'BioRhyme', serif;
  --font-chivo: 'Chivo', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat, Arial, sans-serif);
}

.font-biorhyme {
  font-family: var(--font-biorhyme);
}

.font-chivo {
  font-family: var(--font-chivo);
}

.font-montserrat {
  font-family: var(--font-montserrat);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* Adicione isso ao seu arquivo CSS global */
@keyframes pulse-cta {
  0%, 100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(15, 133, 58, 0.7);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 0 10px rgba(249, 115, 22, 0);
  }
}

.animate-pulse-cta {
  animation: pulse-cta 4s infinite;
}

.swiper-button-next,
.swiper-button-prev {
  color: #22c55e !important; /* Esta é a cor do seu text-green-500 */
}

/* Dica Bônus: Mudar a cor da bolinha de paginação ATIVA */
.swiper-pagination-bullet-active {
  background-color: #22c55e !important; /* Esta é a cor do seu bg-green-500 */
}
